.orderAction {
    text-align: right;
  }
  
  .orderAction button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .orderAction button:hover,
  .orderAction button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .orderAction .button--alt {
    color: #8a2b06;
  }
  
  .orderheading{
    text-align: center;
  }
